<!DOCTYPE html>

<body>
    <h1> Team </h1>
    <ul>
        <li>  <%=@name1%>  </li>
        <li> <%=@name2%> </li>
    </ul>
    <h1> Favorite Places </h1>
    <ul>
        <li> <%=@fav1%> </li>
        <li> <%=@fav2%> </li>
        <li> <%=@fav3%> </li>
    </ul>
    <h1> Favorite International Destinations </h1>
    <ul>
        <li> <%=@dest1%> </li>
        <li> <%=@dest2%> </li>
        <li> <%=@dest3%> </li>
    </ul>

        <h6> <a href=main> Main Page </a></h6>
</body>
